<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Tetravex</title>

    <!-- Favicon-->
    <link href="/assets/star.png" rel="icon" type="image/x-icon"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>


    <!-- Include JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<!-- Responsive navbar-->


<span th:replace="~{fragments/header :: header}"></span>
<!-- Page content-->
<div class="container main-block">
    <div class="row">

        <!-- Main entries-->
        <div class="col-lg-8">

            <span th:replace="~{fragments/gamefield :: gamefield (${solved}, ${shuffled})}"></span>

            <span th:replace="~{fragments/comments :: comments}"></span>

            <span th:replace="~{fragments/add-comment-form :: add-comment}"></span>

            <span th:replace="~{fragments/game-rules :: game-rules}"></span>


        </div>


        <!-- Side widgets-->
        <div class="col-lg-4">


            <span th:replace="~{fragments/custom-params :: custom-params}"></span>

            <div class="card mb-4">
                <a class="col btn btn-outline-primary" id="show-solution">Show solution</a>
            </div>

            <span th:replace="~{fragments/top-players-table :: top-players-table}"></span>

            <span th:replace="~{fragments/rate-game :: rate-game}"></span>

        </div>
    </div>
</div>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">&copy 2024 by Vladyslav Futrak</p></div>
    <div class="container">
        <p class="m-0 text-center text-white"><a href="mailto:vladysalv.futrak@student.tuke.sk">vladysalv.futrak@student.tuke.sk</a>
        </p>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS-->
    <script src="/js/show_comments.js"></script>
    <script src="/js/game_logic.js"></script>
    <script src="/js/ui.js"></script>
    <script src="/js/parametrized_game_form.js"></script>
    <script src="/js/add_comment.js"></script>
    <script src="/js/rate_game.js"></script>
    <script src="/js/show_top_scores.js"></script>
    <script src="/js/save_score.js"></script>

</footer>
</body>
</html>
