.red {
    border-color: #E2725B !important;
}

.green {
    border-color: #228B22 !important;
}

.yellow {
    border-color: #C2B280 !important;
}

.black {
    border-color: #708090 !important;
}

.cyan {
    border-color: #B7410E !important;
}

.magenta {
    border-color: #808000 !important;
}

.bright_green {
    border-color: #A0522D !important;
}

.orange {
    border-color: #FFDB58 !important;
}

.purple {
    border-color: #FF007F !important;
}


.bright_magenta {
    border-color: #87CEEB !important;
}