.red {
    border-color: #FF6EC7 !important;
}

.green {
    border-color: #0066ff !important;
}

.yellow {
    border-color: #FFFF00 !important;
}

.black {
    border-color: #39FF14 !important;
}

.cyan {
    border-color: #FFA500 !important;
}

.magenta {
    border-color: #BF00FF !important;
}

.bright_green {
    border-color: #00FFFF !important;
}

.orange {
    border-color: #ff0090 !important;
}


.purple {
    border-color: #5c0080 !important;
}

.bright_magenta {
    border-color: #87CEEB !important;
}