
:root {
    --tile-size: 35px;
}

body {
    min-width: 300px;

}

/* TODO : DISABLE SELECTED EFFECT FOR MOBILES*/

@media screen and (max-width: 770px) {
    .boards-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --tile-size: 25px;
    }

    .tile:hover::before {
        right: -11px !important;

    }

    .empty:hover::before {
        right: -11px !important;
    }

    .selected::before {
        right: -11px !important;

    }

    .selected:hover::before {
        right: -11px !important;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --tile-size: 20px;
    }

    .tile:hover::before {
        right: -10px !important;

    }

    .empty:hover::before {
        right: -10px !important;
    }

    .selected::before {
        right: -10px !important;

    }

    .selected:hover::before {
        right: -10px !important;
    }
}

@keyframes border {
    0% {
        border-width: 1px
    }
    100% {
        border-width: 3px
    }
}

@keyframes selected-tile-anim {
    0% {
        scale: 1
    }
    100% {
        scale: 1.07
    }
}

@keyframes appear {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}


#modal {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40vh;
    top: 150px;


    z-index: 10000;
}


#back {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: gray;
    opacity: 20%;
}


@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-4deg);
    }
    20% {
        transform: rotateZ(2deg);
    }
    25% {
        transform: rotateZ(-2deg);
    }
    30% {
        transform: rotateZ(1deg);
    }
    35% {
        transform: rotateZ(-1deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

.score-row > td > p {
    margin: 0px !important;
}

table.scores {
    width: 100%;
    border: black 2px;
}

table.scores th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;

}

table.scores tr:nth-child(even) {
    background-color: lightgray
}

table.scores tr:nth-child(odd) {
    background-color: white;
}

.rate-field {
    flex-direction: row !important;
}

.star > h1 {
    font-size: 3rem;
}

.star:hover {
    cursor: pointer;
}

.comment-block {
    margin: 20px;
}

#show-comment-header:hover {
    background-color: #dcdbdb;

}

#add-cmnt-submit {
    width: 60%;
    margin: auto;
}

#add-comment-header:hover {
    background-color: #dcdbdb;

}


.comment-input {
    margin: 20px;
}

.main-block {
    margin-top: 50px;
}

.main-header {

    /*color: white;*/
}


#form-message {
    margin-top: 25px;
    margin-bottom: 15px;
}


.tile {
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.tile:hover::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -14px;
    bottom: -4px;
    left: -4px;
    border: 0px solid limegreen;
    border-radius: 1px;

    animation-name: border;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.empty:hover::before {
    right: -14px;
}

.selected::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -14px;
    bottom: -4px;
    left: -4px;
    border: 3px solid lightcoral !important;
    border-radius: 1px;

    animation-name: selected-tile-anim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.selected:hover::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -14px;
    bottom: -4px;
    left: -4px;
    border: 3px solid lightcoral !important;
    border-radius: 1px;

    animation-name: selected-tile-anim;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#solved .tile:hover::before {
    border-color: transparent;
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#message {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.subscription {
    text-align: center;

    background-color: grey;

    border-radius: 3px;

    color: white;

}


::selection {

    background-color: rgba(100, 100, 10, 10%);

}

.animated-message {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold !important;
    border-radius: 5px;

    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.good-message {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold !important;
    border-radius: 5px;
}

.just-message {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold !important;
    border-radius: 5px;
}


.bad-message {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold !important;
    border-radius: 5px;
}

#logged-in-user {
    background-color: orange;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold !important;
    border-radius: 5px;
}

.board-row {
    --bs-gutter-x: calc(var(--tile-size) * 1.7) !important;
    --bs-gutter-y: calc(var(--tile-size) * 2) !important;
}

.board {

    padding: 40px;
}

.tile {
    position: relative;
    height: calc(var(--tile-size) * 2);
    width: calc(var(--tile-size) * 2);
    border-width: 0;
    margin: calc(calc(var(--tile-size) / 3));


}

.empty > div {
    border-color: transparent;
}

.empty {
    background-color: lightgray;
}

.red {
    border-color: lightcoral !important;
}

.green {
    border-color: lightgreen !important;
}

.yellow {
    border-color: lightgoldenrodyellow !important;
}

.black {
    border-color: darkslateblue !important;
}

.cyan {
    border-color: lightskyblue !important;
}

.magenta {
    border-color: lightpink !important;
}

.bright_green {
    border-color: darkolivegreen !important;
}

.orange {
    border-color: orange !important;
}

.purple {
    border-color: purple !important;
}

.bright_magenta {
    border-color: mediumpurple !important;
}


.left {
    width: 0px;
    height: 0px;

    border-top: var(--tile-size) solid transparent !important;
    border-left: var(--tile-size) solid;
    border-bottom: var(--tile-size) solid transparent !important;

    position: absolute;
    left: 0px;
    top: 0px;
}

.top {
    width: 0px;
    height: 0px;

    border-left: var(--tile-size) solid transparent !important;
    border-right: var(--tile-size) solid transparent !important;
    border-top: var(--tile-size) solid;

    position: absolute;
    right: 0px;
    left: 0px;
}

.right {
    width: 0px;
    height: 0px;

    border-top: var(--tile-size) solid transparent !important;
    border-right: var(--tile-size) solid;
    border-bottom: var(--tile-size) solid transparent !important;

    position: absolute;
    top: 0px;
    left: calc(var(--tile-size));

}

.bottom {
    width: 0px;
    height: 0px;
    border-left: var(--tile-size) solid transparent !important;
    border-right: var(--tile-size) solid transparent !important;
    border-bottom: var(--tile-size) solid;
    position: absolute;
    bottom: 0px;
    left: 0px;
}