<div th:fragment="comments">
    <div class="card mb-4" id="show-comments-block">
        <div class="card-header" id="show-comment-header">Show/hide comments</div>

        <div class="card row-cols-1 py-0 my-1 comment-block" id="template-comment">
            <div class="card-header py-1 comment-name">Name</div>
            <div class="card-body py-1">
                <p class="comment-text py-0">
                    Comment text
                </p>
                <small class="form-text text-muted comment-timestamp">Date</small>
            </div>
        </div>
    </div>

</div>