<div th:fragment="custom-params">
    <div class="card mb-4">
        <div class="card-header">Custom parameters</div>
        <div class="card-body">
            <div class="input-group" id="params-form">

                <input aria-describedby="Height" aria-label="Height" class="form-control size-of-field"
                       id="height" placeholder="Height" value="3" type="text"/>

                <input aria-describedby="Width" aria-label="Width" class="form-control size-of-field" id="width"
                       placeholder="Width" value="3" type="text"/>


                <div class="dropdown">
                    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            id="complexity-btn" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;"
                            type="button">
                        Complexity
                    </button>

                    <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                        <li><span class="dropdown-item complexity">Easy</span></li>
                        <li><span class="dropdown-item complexity">Medium</span></li>
                        <li><span class="dropdown-item complexity">Hard</span></li>
                    </ul>
                </div>

                <button class="btn btn-primary mx-2" id="button-play" style="border-radius: 5px" type="button">Play
                </button>

            </div>

            <p class="bad-message" id="form-message">Width and height should be between 3 and 6</p>

        </div>
    </div>
</div>