<div th:fragment="game-rules">
    <div class="card mb-4">
        <div class="card-header text-center"><h5>Game rules</h5></div>
        <div class="card-body">
            <ul>
                <li>TetraVex is an edge-matching puzzle.</li>
                <li>The player is presented with a grid (by default, 3x3) and
                    nine square tiles, each with a number on each edge.
                </li>
                <li>The objective of the game is to place the tiles in the grid in the proper position as fast as
                    possible.
                </li>
                <li>Two tiles can only be placed next to each other if the colors on adjacent faces match.</li>
            </ul>
        </div>
    </div>
</div>