<span th:fragment="header">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <div>
            <a class="navbar-brand" href="/tetravex/play">TETRAVEX</a>

            <button class="btn btn-outline-success m-1 p-1" onclick="location.reload()">Regenerate field</button>

          </div>
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                  class="navbar-toggler"
                  data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                  class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--            <li class="nav-item"><a class="nav-link" href="http://gamestudio.kpi.fei.tuke.sk/">Gamestudio</a></li>-->

              <li class="nav-item"><p class="nav-link m-1 p-1" id="logged-in-user">Logged in as: guest</p></li>

              <button class="btn btn-outline-warning m-1 p-1" id="LogIn">Log in</button>
              <button class="btn btn-outline-warning m-1 p-1" id="SignUp">Sign up</button>
              <button class="btn btn-outline-danger m-1 p-1" id="LogOut">Log out</button>


          </ul>
        </div>
      </div>

    </nav>

    <!-- Page header with logo and tagline-->
    <header class="py-1 border-bottom mb-4">
      <div id="background"></div>

      <div class="container header-">

        <div class="text-center my-5">
<!--          <h1 class="fw-bolder main-header text-decoration-underline">TETRAVEX</h1>-->
          <p class="lead mb-0 just-message" id="message">
              Good luck!</p>
        </div>
      </div>
    </header>


</span>

