<div th:fragment="rate-game">
    <div class="card mb-4">
        <div class="card-header mb-2 text-center">
            <div class="row">
                <p class="col my-1">Rate game</p>
                <p class="col my-1">Average rating: <span id="avg-rate"></span></p>
            </div>
        </div>

        <div class="card-body row p-0 m-0 rate-field">
            <span class="col star text-center px-0" id="1"> <h1>★</h1> </span>
            <span class="col star text-center px-0" id="2"> <h1>★</h1> </span>
            <span class="col star text-center px-0" id="3"> <h1>★</h1> </span>
            <span class="col star text-center px-0" id="4"> <h1>★</h1> </span>
            <span class="col star text-center px-0" id="5"> <h1>★</h1> </span>
        </div>
    </div>
</div>