<div th:fragment="top-players-table">
    <div class="card mb-4">
        <div class="card-header">Top players</div>
        <div class="card-body">
            <table class="scores">
                <tr class="score-header-row card-header">
                    <td>
                        <h6>#</h6>
                    </td>
                    <td>
                        <h6>Player</h6>
                    </td>
                    <td>
                        <h6>Score</h6>
                    </td>
                    <td>
                        <h6>Date</h6>
                    </td>
                </tr>

                <tr class="score-row" id="score-template">
                    <td class="score-n">
                        <p>#</p>
                    </td>
                    <td class="score-player">
                        <p>Player</p>
                    </td>
                    <td class="score-score">
                        <p>Score</p>
                    </td>
                    <td class="score-date">
                        <p>Date</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>